<h1>Games#index</h1>
<%= link_to("Create new game", '/games/new.html') %>
<% (@games || []).each do |game| %>
<br>
  Game: <%= game.extract_id %>
  <%= link_to('Play', "/games/#{game.extract_id}") %>
  Last update: <%= game["lastUpdate"] || "time unavailable" %><br>
  played on: <%= game["starting board name"] || "board name unavailable" %><br>
  Players: <br>
  <% game["playerSides"].each do |side, player| %>
    <%= player %>, playing <%= side %><br>

  <% end %>


<% end %>
