<h1>Games#index</h1>
<%= link_to("Create new game", '/games/new.html') %>
<% (@games || []).each do |game| %>
<br>
  Game: <%= game['_id'].to_s %>
  <%= link_to('Play', "/games/#{game['_id'].to_s}") %>
  Last update: <%= game["lastUpdate"] || "time unavailable" %><br>
  played on: <%= game["starting board name"] || "board name unavailable" %><br>
  Players: <br>
  <% if game["playerSides"]%>
    <% game["playerSides"].each do |side, player| %>
      <%= player %>, playing <%= side %><br>

    <% end %>
  <%end%>

<% end %>
