<div id="left-sidebar">
<h2>XChess!</h2>
<p>instructions: <br><br>
pan: w,a,s,d <br>
zoom: [,] <br>

</p>
<p>current turn: <span id='turn-indicator'></span></p>
</div>
<div id="board" class="board" style="height:<%= "#{1+(102* @board_height)}px;width:#{(101*@board_width)}px" %>">
  <% @board_height.times do |i| %>
    <div id="row-<%=i%>" class="row">
      <% @board_width.times do |j| %>
        <%  square_color = (i % 2 == j % 2) ? 'light' : 'dark' %>
        <div id="posx-<%=j%>posy-<%=i%>"class="square <%= square_color %>"></div>
      <% end %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
  BoardFunctions.base_url = '<%= request.base_url %>'

  $('#board').css('transform', 'scale(1,1)');
  BoardFunctions.gameRef = '<%= @game_path %>'
  BoardFunctions.gameId = "<%= @id %>"
  BoardFunctions.watchAndbuildBoardFromMongo(BoardFunctions.gameId);
  BoardFunctions.getDataAndTriggerRebuildFromMongo(BoardFunctions.gameId);
  BoardFunctions.initializeHotKeys();
  BoardFunctions.setTurn();
});

</script>